html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #e0e0e0;
    background: #1c1c1c;
  }
  :root {
    --spacing-XXS: 2px;
    --spacing-XS: 5px;
    --spacing-S: 10px;
    --spacing-M: 15px;
    --spacing-L: 20px;
    --spacing-XL: 25px;
    --spacing-XXL: 40px;

    --spacing-sidebar: 450px;

    --typography-size-XS: 10px;
    --typography-size-S: 12px;
    --typography-size-M: 14px;
    --typography-size-L: 16px;
    --typography-size-XL: 20px;

    --typography-color-primary: #FFFFFF;
    --typography-color-secondary: #CCCCCC;
    --typography-color-tertiary: #888888;

    --color-lines: #3a3a3a;

    --color-background-lighter: #232323;
    --color-background: #1c1c1c;
    --color-background-darker: #1c1c1c;

    --color-highlight: #663399;

    --border-radius: 15px;
  }
}
